<%# The main layout components are laid in this file%>

<% content_for(:content) do %>
  <% if content_for? :sidebar %>
    <section id="content" class="<%= main_content_classes %> order-last">
      <%= yield %>
    </section>

    <section id="sidebar" class="<%= sidebar_classes %> order-first">
      <div style=" overflow:scroll; width:16em; height:150em;">
        <%= content_for(:sidebar) %>
      </div>
    </section>
  <% else %>
    <section class="col-md-12">
      <%= yield %>
    </section>
  <% end %>
<% end %>

<%= render template: "layouts/blacklight/base" %>
